<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Grade</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var Student in Model)
        {
            <tr>
                <td>@Student.Id</td>
                <td>@Student.Name</td>
                <td>@Student.Address</td>
                <td>@Student.Grade</td>
                <td>
                    @if (Student.department != null)
                    {
                        @Student.department.Name
                    }
                    else
                    {
                        <span>No department yet</span>
                    }
                </td>
                <td><a asp-action="Edit" asp-controller="Student" asp-route-id="@Student.Id" class="btn btn-warning">Edit</a></td>
                <td><a asp-action="Details" asp-controller="Student" asp-route-id="@Student.Id" class="btn btn-info">Details</a></td>
                <td><a asp-action="Delete" asp-controller="Student" asp-route-id="@Student.Id" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
</br>
</br>
<a asp-action="New" asp-controller="Student" class="btn btn-success">New</a>